
#Nav {
    display: flex;
    justify-content: space-between;
    background-color: 3C5B6F;

}

.nav-link {
    color:white;
    font-size: 30px;
    margin-left: 5;
}

.header {
    display: flex;
    background-image:linear-gradient(to top, rgba(70, 101, 186, 0.596), rgba(33, 51, 99, 0.651)), URL("/images/backv2.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.test {
    background-color: rgba(60, 91, 111, 0.712);
    border-radius: 10px;
}

.img-fluid {
    border-radius: 10%;
    
}


#me {
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 50;

}

#front-end {
    color: white;
}

#about {
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.projects {
    background-color: white;
}

.contact {
    display: flex;
    justify-content: center;
}

.footer {
    background-color:3C5B6F;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    background-color: 3C5B6F;
}
